@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);

body {
  font-size: 1.2em;
  color: black;
  font-family: 'Cambria', sans-sarif;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

h1 {
  font-weight: bolder;
}

#whatsapp {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: #FFDB58;
  background-color: transparent;
  height: 96px;
  width: 96px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border-radius: 50%;
}
#whatsapp:hover {
  color: #1C2331;
  transition: transform 0.4s ease-out;
  transform: rotateZ(360deg);
}
#whatsapp-icon {
  background-image: url('../images/whatsapp-large.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#scroll-up-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: #FFDB58;
  background-color: #1C2331;
  height: 70px;
  width: 70px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border-radius: 50%;
}
#scroll-up-btn:hover {
  color: #1C2331;
  background-color: #FFDB58;
  transition: transform 0.4s ease-out;
  transform: rotateZ(360deg);
}

/** HEADER **/
/*Navbar*/

#navbar {
  padding: 0 5%;
}
#logo-img {
  background: url('../images/logo-02.png') no-repeat;
  width: 160px;
  height: 90px;
}
.navbar-nav {
  text-align: center;
}
.nav-link {
  font-size: 1.6em;
  font-weight: bolder;
  margin: 0;
  margin: 5px;
}
.nav-link span{
  color: #125487;
  font-size: 0.6em;
}
nav.black{
  transition: 0.2s;
  background-color: #1C2331;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
nav {
  transition: 0.2s;
}
#navbarDropdown {
  color: #125487;
}
.dropdown-toggle::after {
  margin-left: 0;
  vertical-align: .1em;
  border-top: .2em solid;
  border-right: .2em solid transparent;
  border-bottom: 0;
  border-left: .2em solid transparent;
}
/*Navbar-end*/

/*Carousel*/
#slide-1 {
  /*background-image: linear-gradient(to bottom, rgba(0, 0, 0,0.3),rgba(0, 0, 0,0.5)), url('../images/15.jpg');*/
  background-image: /*linear-gradient(to bottom, rgba(255, 255, 255,0.3), rgba(18, 84, 135,0.8)),*/ url('../images/slide-1.jpg');
}
#slide-2 {
  /*background-image: linear-gradient(to top, rgba(255,255,255,0),rgba(255,255,255,0.5))/*linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../images/16.jpg');*/
  background-image: /*linear-gradient(to top, rgba(18, 84, 135,0.3),rgba(18, 84, 135,0.5))*//*linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),*/ url('../images/slide-2.jpg');
}
#slide-3 {
  background-image: /*linear-gradient(to top, rgba(255,255,255,0),rgba(255,255,255,0.5))*//*linear-gradient(to top, rgba(0,0,0,0.5),rgba(0,0,0,0.5))*/ url('../images/slide-3.jpg');
}

#slide-1, #slide-2, #slide-3 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

/*.carousel-button {
  border-radius: 40px;
  background-color: #125487;
  color: #FFDB58;
  border: 1px solid #FFDB58;
}

.carousel-button:hover {
  background-color: #FFDB58;
  color: #125487;
  border-color: #125487;
}*/
.carousel-container {
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  margin-bottom: 100px;
}

@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: #1C2331!important;
  }
}

.view,body,html {
  height:100%
}
.page-footer,.top-nav-collapse {
  background-color:#1C2331
}
@media only screen and (max-width:991px) {
  .navbar{
    background-color:#1C2331;
  }
}

.row {
  width: 100%;
}
.main-content {
  height: 80vh;
  background-position: center;
  background-size: cover;
  padding: auto;
  margin: auto;
  position: relative;
  background-attachment: fixed;
  color: white;
}
.main-content div{
  position: absolute;
  left: 10%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40%;
  vertical-align: center;
}

#our-vision h1, #about-us h1, #how-it-works h1, #why-us h1, #projects h1 {
  color: #125487;
}

#projects {
  text-align: center;
}

#main-1 {
  background-image: linear-gradient(to left,rgba(0,0,0,0.1),rgba(0,0,0,0.9)), url('../images/10.jpg');
}

#main-2 {
  background-image: linear-gradient(to left,rgba(0,0,0,0.1),rgba(0,0,0,0.9)), url('../images/20.jpg');
}

#main-3 {
  background-image: linear-gradient(to left,rgba(0,0,0,0.1),rgba(0,0,0,0.9)), url('../images/11.jpg');
}

#main-4 {
  background-image: linear-gradient(to left,rgba(0,0,1,0.1),rgba(0,0,0,0.9)), url('../images/13.jpg');
}

.button1 {
  border-radius: 40px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
.button1:hover {
  background-color: #125487;
  color: white;
  border-color: #125487;
}

.button2 {
  color: #125487;;
  border-color: #125487;;
}
.button2:hover {
  background-color: #125487;;
  color: white;
  border-color: #125487;
}




#projects {
  padding: 5% 10% 5% 10%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  margin: 0;
}
#p1-tile {
  background-image: url('../images/17.jpg');
}
#p2-tile {
  background-image: url('../images/19.jpg');
}
#p3-tile {
  background-image: url('../images/12.jpg');
}
#p4-tile {
  background-image: url('../images/18.jpeg');
}
#p1-tile, #p2-tile, #p3-tile, #p4-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#p1-tile:hover, #p2-tile:hover, #p3-tile:hover, #p4-tile:hover {
  box-shadow: 0 1px 5px 1px black;
}

#p1-tile span, #p2-tile span, #p3-tile span, #p4-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

#how-it-works {
  padding: 5% 10% 5% 10%;
  margin: 0;
}
#ht-1, #ht-2, #ht-3, #ht-4{
  margin-top: 20px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  align-content: center;
  text-align: center;
  color: #7c7c7c;
}

#our-vision, #about-us, #why-us {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
#our-vision-div, #about-us-div, #why-us-div {
  text-align: center;
  font-size: 1.5em;
  color: #7c7c7c;
  overflow: hidden;
}
footer {
  padding: 5% 0;
}
.footer {
  margin: 0;
  padding: 0% 10% 0% 10%;
  overflow: hidden;
}

@font-face {
  font-family: 'icomoon';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?3qkin2');
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?#iefix3qkin2') format('embedded-opentype'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.woff?3qkin2') format('woff'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.ttf?3qkin2') format('truetype'), url('fhttps://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.svg?3qkin2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.social-networks {
  margin: 35px 0 35px;
  padding: 0;
  font-size: 0;
  text-align: center;
}
.social-networks li {
  display: inline-block;
}
.social-networks a {
  display: block;
  position: relative;
  margin: 0 7px;
  width: 68px;
  height: 68px;
  font-size: 0;
  line-height: 0;
  text-align: center;
  text-decoration: none;
}
.social-networks a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  margin-top: -50%;
  margin-left: -50%;
  border-radius: 100px;
  background-color: #1f2027;
  transition: all 400ms;
}
.social-networks a:after {
  position: relative;
  display: block;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #fff;
  font-size: 26px;
  line-height: 66px;
}
.social-networks a:hover, .social-networks a:focus {
  text-decoration: none;
}
.social-networks.spin-icon a:hover:after, .social-networks.spin-icon a:focus:after {
  transition: transform 0.4s ease-out;
  transform: rotateZ(360deg);
}
.social-networks.square a:hover:before, .social-networks.square a:focus:before {
  border-radius: 0;
}
.social-networks.bounce a:hover, .social-networks.bounce a:focus {
  animation: bounce 1s;
}
.social-networks .icon-facebook:after {
  content: "\e603";
}
.social-networks .icon-facebook:hover:before, .social-networks .icon-facebook:focus:before {
  background: #3b5998;
}
.social-networks .icon-instagram:after {
  content: "\e604";
}
.social-networks .icon-instagram:hover:before, .social-networks .icon-instagram:focus:before {
  background: #3f729b;
}
.social-networks .icon-linkedin:after {
  content: "\eac9";
}
.social-networks .icon-linkedin:hover:before, .social-networks .icon-linkedin:focus:before {
  background: #0077b5;
}
@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  40% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -6px, 0);
  }
  70% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -4px, 0);
  }
  90% {
    transform: translate3d(0, -2px, 0);
  }
}


#social-footer {
  text-align: center;
}

#f1, #f2 {
  border: 1px solid black;
  color: black;
  border-radius: 1px;
}

.vl {
  border-left: 2px solid black;
  height: 100px;
  border-radius: 2px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
}
.footer-heading {
  color: #125487;
}


/*About us page*/
#about-us-slide {
  position: relative;
}

.header-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 10%;
  overflow: visible;
  font-size: 1.2em;
  color: black;
}

#our-team {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  margin: 0;
}
#team-1-tile {
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('../images/team-abdullah.jpg');
}
#team-2-tile {
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('../images/team-1.jpg');
}
#team-3-tile {
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('../images/team-ahmad.jpg');
}
#team-4-tile {
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('../images/team-yousaf.jpg');
}
#team-1-tile, #team-2-tile, #team-3-tile, #team-4-tile {
  height: 500px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
}
#team-1-tile:hover, #team-2-tile:hover, #team-3-tile:hover, #team-4-tile:hover {
  /*box-shadow: 0 1px 5px 1px black;*/
}

#team-1-tile div, #team-2-tile div, #team-3-tile div, #team-4-tile div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  /*text-align: center;*/
  /*font-size: 1.6em;*/
  height: 150px;
  text-transform: uppercase;
  background-color: #000;
  background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
  color: #fff;
  padding: 10px;
  /*opacity: .8;*/
}



/**********        Media       **********/
/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/*Small devices*/
@media (min-width: 768px) and (max-width: 991px) {
  #navbarDropdown {
    color: #FFDB58;
  }

  #about-us-div, #our-vision-div, #why-us-div {
    font-size: 1.1em;
  }

  #whatsapp-icon {
    background-image: url('../images/whatsapp-sm.png');
  }
  #whatsapp {
    height: 60px;
    width: 60px;
  }

  #scroll-up-btn, #scroll-up-btn svg {
    height: 60px;
    width: 60px;
  }

  .main-content {
    height: 65vh;
  }
  .main-content div {
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
  }

  #copyright {
    font-size: 0.8em;
  }
}

/*extra small devices*/
@media (max-width: 767px) {
   #logo-img {
    background-image: url('../images/logo-03.png');
    width: 120px;
    height: 68px;
  }
  #our-vision-div, #about-us-div, #why-us-div {
    font-size: 1em;
  }
  #how-it-works p {
    font-size: 0.7em;
  }
  #whatsapp-icon {
    background-image: url('../images/whatsapp-sm.png');
  }
  #whatsapp {
    height: 60px;
    width: 60px;
  }
  #scroll-up-btn, #scroll-up-btn svg {
    height: 60px;
    width: 60px;
  }
  .main-content {
    height: 65vh;
  }

  .main-content div {
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
  }

   #copyright {
    font-size: 0.8em;
    margin-bottom: 60px;
  }
}


/*super extra small devices*/
@media (max-width: 479px) {
  #logo-img {
    background-image: url('../images/logo-03.png');
    width: 120px;
    height: 68px;
  }
  #our-vision-div, #about-us-div, #why-us-div {
    font-size: 0.9em;
  }

  #how-it-works p {
    font-size: 0.7em;
  }

  #whatsapp-icon {
    background-image: url('../images/whatsapp-sm.png');
  }
  #whatsapp {
    height: 60px;
    width: 60px;
  }
  #scroll-up-btn, #scroll-up-btn svg {
    height: 60px;
    width: 60px;
  }
  .main-content {
    height: 65vh;
  }

  .main-content div {
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
  }
}